{% extends "ESGIBlogBundle::layout.html.twig" %}

{% block title %}ESGIBlogBundle:Article:articles{% endblock %}

{% block blog_body %}


  



    {# Afficher les contenus #}
        <header class="intro-header" style="background-image: url({{ asset('img/home-bg.jpg') }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Blog Symfony</h1>
                        <hr class="small">
                        <span class="subheading">phrase d'accroche qui envoie du lourd</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class = "container">
    
     <h3><a href="{{ path('articles', {'id': 0}) }}">{{ 'Toutes'|trans }}</a></h3>
    {% for category in categories %}
        <h3><a href="{{ path('articles', {'id': category.id}) }}">{{ category.name }}</a></h3>
    {% endfor %}
    
     <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              
        {% for article in articles %}
         <div class="row">
              <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            <a href="{{ path('see', {'id': article.id}) }}">{{ article.title }}</a>
                        </h2>
                       
                    </a>
                    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>
                </div>
            </div>
        {% else %}
            <p>{{'Pas de contenus disponible.'|trans}}</p>
        {% endfor %}
        </div>
    </div>

    {# Pagination #}
    <nav class="text-center">
        <ul class="pagination">
            {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
            {% for p in range(1, numberPage) %}
                <li{% if p == page %} class="active"{% endif %}>
                    <a href="{{ path('articles', {'page': p}) }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}
