{% extends "ESGIBlogBundle::layout.html.twig" %}

{% block title %}ESGIBlogBundle:Article:see{% endblock %}

{% block blog_body %}
    <header class="intro-header" style="background-image: url({{ asset('img/home-bg.jpg') }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{ article.title }}</h1>
                        <hr class="small">
                        <span class="subheading"><i>{{ 'Article rédigé par'|trans }} {{ article.user.username }} le {{ article.updated|date('d-M-y') }}</i></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class = "container">

    <p>{{ article.body }}</p>
    

    {% if article.isCommented == true %}
        <p><a href="{{ path('add_comment', {'id': article.id}) }}" class="btn btn-danger" role="button">{{'Ajouter un commentaire'|trans}}</a></p>
    {% endif %}


          <div class="box box-info">
            <div class="box-header">
              
                <h3 class="box-title">{{ 'Commentaires'|trans }}</h3>
            </div><!-- /.box-header -->
        </div>

{% for comment in article.comments %}
    <div class="col-md-12">
  
        <div style = "margin-top:-15px;">
            <h5> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></h5>
            <div style = "margin-top:-25px;">
                <p>{{ comment.content }}</p>
            </div>
            <div style = "margin-top:-30px; margin-bottom:15px">
                <i>{{'Le'|trans}} {{ comment.updated|date('d/m/Y') }}</i>
                <br />
            </div>
        </div>
    </div>


    {% else %}
        <p>{% trans %} Pas de commentaires. {% endtrans %}</p>
    {% endfor %}
{% endblock %}
