{% extends '::base.html.twig' %}


{% block title %}Blog Parfait{% endblock %}

{% block bockcategories %}
 <li class="dropdown" style = "background: transparent">
                      <a href="{{ path('articles', {'id': 0}) }}" style = "background: transparent" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categories<span class="caret"></span></a>

                      <ul style = "border-color:black; background-color: white; color:black" class="dropdown-menu mondropdown" role="menu">
                        {% for category in categories %}
                            <li style = "height: 40px; background-color: white; color:black"><a  style = "background-color: white; color:black" href="{{ path('articles', {'id': category.id}) }}">{{ category.name }}</a></li>
                            {% endfor %}
                        
                      </ul>
                    </li>
 {% endblock %}   

{% block body %}

    {# On affiche les messages flash que définissent les contrôleurs du bundle #}
    {% for key, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ key }}">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block blog_body %}
    {% endblock %}
    
{% endblock %}
